.__root-drug-category {
  display: flex;
  justify-content: space-between;
  .__expand-all {
    margin: 10px;

    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      // line-height: 14px;
      // /* identical to box height
      letter-spacing: 0.01em;
      border-bottom: 1px dotted #707683;

      color: #707683;
    }
  }
}
