@import "../../assets/style.scss";

.claims-result-root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 528px;

  .compare-section {
    overflow: auto;
    height: 254px;
  }
  .div-rectangle {
    width: 100%;
    height: 10px;
    background: #e5e5e5;
  }

  .container-mt-30 {
    margin-top: 30px;
  }
}
