@import "./../../../assets/style.scss";
.mb-10{
    margin-bottom: 10px;
}
.drug-detail-top{
    background: white;
    padding: 22px 20px 30px 30px;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    .breadcrum-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
        .breadcrum{
            span{
                margin-right: 5px;
                color: #323C47;
                &.color-blue{
                    font-size: 12px;
                    text-decoration: dashed underline;
                    font-weight: $font-weight-500;
                    color: #1D54B4;
                    cursor: pointer;
                }
                &.active-state{
                    font-size: 18px;
                    font-weight: $font-weight-500;
                }
            }
        }
        .version-wrapper{
            border: 1px solid #F65A1C;
            height: 37px;
            width: 890px;
            background: #FFF5F0;
            border-radius: 3px;
            display: flex;
            .version-dd{
                width: 295px;
                border-right: 1px solid #F65A1C;
                height: 35px;
                margin-right: 10px;
            }
            .item{
                margin-right: 53px;
                display: flex;
                line-height: 35px;
                font-size: 12px;
                color: #F65A1C;
                font-weight: $font-weight-500;
                align-items: center;
                svg{
                    margin-right: 5px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .durationInfo{
        display: flex;
        .item{
            margin-right: 60px;
            font-size: 14px;
            color: #323C47;
            font-weight: $font-weight-500;
            .label{
                color: $primary-text-color;
                font-weight: normal;
            }
            .tag{
                display: block;
                height: 24px;
                border-radius: 12px;
                padding: 0 10px;
                line-height: 24px;
                color: white;
                font-size: 12px;
                font-weight: bold;
                &.purple{
                    background: #684999;
                }
            }
        }
    }
}
.drug-details-bottom{
    background: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    overflow: hidden;
    .inner-container{
        padding: 12px 10px 10px;
        &.bg-light-grey{
            background: #F9F9F9;
        }
        .bottom{
            .row span{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #707683;
                &.text-left{
                justify-content: flex-start;
                }
            }
        }
    }
    .Button{
        background: #1F55B6;
        color: white;
        margin: 20px 10px 10px 0;
        &:disabled{
            background: #E5E5E5;
            border-color: #E5E5E5;
            color: #707683;
        }
    }
    .bordered{
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        overflow: hidden;
    }
    .white-bg{
        background: white;
    }
    .header{
        display: flex;
        height: 52px;
        border-bottom: 1px solid #E5E5E5;
        font-size: 12px;
        color: #1D54B4;
        font-weight: $font-weight-500;
        padding: 0 20px;
        align-items: center;
        text-transform: uppercase;
        &.panel{
            background: white;
            .panel-tooltip{
                margin-left: 10px;
                line-height: 0;
            }
        }
    }
    .configure-mini-tabs{
        margin-bottom: 12px;
    }
    .details-top{
        margin-bottom: 10px;
    }
    .modify-wrapper{
        .modify-panel{
            padding: 0 20px;
            display: flex;
            .icon{
                display: flex;
                height: 50px;
                padding-right: 18px;
                border-right: 1px solid #E5E5E5;
                align-items: center;
                span{
                    display: block;
                    border-radius: 50%;
                    height: 31px;
                    width: 31px;
                    background: #1FBBC4;
                    color: white;
                    font-size: 16px;
                    line-height: 31px;
                    text-align: center;
                }
            }
            .switch-box{
                display: flex;
                align-items: center;
                padding: 0 40px;
                border-right: 1px solid #e5e5e5;
                .label{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #707683;
                }
            }
            .mini-tabs{
                display: flex;
                padding: 0 40px;
                border-right: 1px solid #e5e5e5;
                align-items: center;
            }
        }
        .header-with-notes{
            position: relative;
            svg.note-icon{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .settings-form{
            border-top: 1px solid #e5e5e5;
            padding: 20px;
            .radio-group{
                display: flex;
                &.marketing-material{
                    padding: 15px 0 20px;
                }
                label{
                    display: flex;
                    align-items: center;
                    padding-right: 0;
                    margin-right: 60px;
                    span.label{
                        top: 1px;
                        color: #C4C4C4;
                    }
                    input:checked ~ span.label{
                        color: #323C47;
                    }
                }
            }
            .select-box{
                .ant-select{
                    width: 100%;
                    max-width: 370px;
                }
            }
            label{
                display: block;
                font-size: 12px;
                color: #707683;
                line-height: 20px;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: normal;
                .astrict{
                    color: red;
                }
            }
            input{
                width: 385px !important;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                background: white;
                height: 35px !important;
                margin-bottom: 10px;
                top: auto;
            }
        }
    }
}
.panel-grid{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    overflow: hidden;
    .top, .bottom{
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        .item{
            height: 40px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-right: 1px solid #E5E5E5;
            width: 25%;
            .ant-checkbox-inner{
                border-radius: 4px;
                border: 2px solid #D5D5D5;

            }
            .ant-checkbox-checked .ant-checkbox-inner{
                border: none;
                background: #1D54B4;
            }
            .ant-checkbox:hover::after, .ant-checkbox-wrapper:hover .ant-checkbox::after{
                visibility: hidden;
            }
            &.left{
                justify-content: flex-start;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    .top{
        .item{
            font-size: 12px;
            line-height: 14px;
            color: #707683;
            text-transform: uppercase;
        }
    }
    .bottom{
        background: white;
        flex-wrap: wrap;
        border-bottom: none;
        .item{
            font-size: 12px;
            line-height: 14px;
            color: #323C47;
            border-bottom: 1px solid #E5E5E5;
            &.no-data{
                height: 82px;
                width: 100%;
                font-size: 14px;
                font-weight: bold;
                color: #C4C4C4;
                align-items: center !important;
                justify-content: center !important;
            }
        }
        .row{
            width: 100%;
            display: flex;
            &:last-child{
                .item{
                    border-bottom: none;
                }
            }
        }
        

    }
    &.text-center{
        .top,.bottom{
            .item{
                text-align: center;
                justify-content: center;
                &.left{
                    justify-content: flex-start;
                }
            }
        }
    }
    &.first-left{
        .top, .bottom{
            .item:first-child{
                text-align: left;
                justify-content: flex-start;
            }
        }
    }
}
.MuiTooltip-tooltip.custom-tooltip{
    &.panel-tooltip{
        min-width: 357px;
        text-align: left;
        font-weight: normal;
    }
}

.pinned-table{
    .fa-thumbtack{
        font-size: 10px;
        margin-right: 10px !important;
    }
    .frx-grid-header-cell__header-name{
        font-size: 12px;
        font-weight: 400;
    }
    .ant-table-cell-fix-left {
        .fa-thumbtack{
            color: #2055b5 !important;
        }
    }
    .ant-checkbox{
        &:after{
            border: none;
        }
        .ant-checkbox-inner{
            border-radius: 4px;
            border: 2px solid #d5d5d5;
        }
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner::after{
        background-color: #1D54B4;
    }
    .ant-checkbox{
        &:after{
            border: none;
        }
        .ant-checkbox-inner{
            border-radius: 4px;
            background-color: white;
            border: 2px solid #d5d5d5;
            overflow: hidden;
        }
        &.ant-checkbox-checked{
            .ant-checkbox-inner{
                background-color: #1D54B4;
                border: 2px solid #1D54B4;
                &:after{
                    top: -10px !important;
                    left: 8px;
                    transform: rotate(45deg) scale(1);
                }
            }
        }
    }
    .ant-table-header{
        .ant-checkbox{
            
            &.ant-checkbox-checked{
                .ant-checkbox-inner{
                    &:after{
                        top: 1px !important;
                        left: 3px;
                        transform: rotate(45deg) scale(1);
                    }
                }
            }
        }
    }
    .ant-table-tbody > tr.ant-table-row-selected > td{
        background: #EEF3F7;
        border-color: #92B2EB !important;
        
    }
    
    .frx-grid__grid-block{
        padding-top: 0 !important;
    }
    
}