@import "./../../../assets/style.scss";
.mb-10{
    margin-bottom: 10px;
}

.version-wrapper {
    border: 1px solid #F65A1C;
    height: 37px;
    max-width: 890px;
    width: 100%;
    background: #FFF5F0;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    
    .version-dd {
        width: 295px;
        border-right: 1px solid #F65A1C;
        height: 35px;
        margin-right: 10px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        padding-right: 6px;
    }
    .formulary-type-dropdown{
        width: 205px !important;
        .ant-select-arrow{
            svg{
                path{
                    fill: #F65A1C;
                }
            }
        }
    }

    .item-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #F65A1C;
    }
    
    .item {
        display: flex;
        line-height: 35px;
        font-size: 12px;
        color: #F65A1C;
        text-decoration-line: underline;
        font-weight: $font-weight-500;
        align-items: center;
        svg {
            margin-right: 5px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    #group-description{
        border: none;
        height: 37px;
        max-width: 890px;
        width: 100%;
        background: #FFF5F0;
        border-radius: 3px;
        color: #F65A1C;
        text-decoration-line: underline;
        font-weight: $font-weight-500;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-size: 12px;
    }
    
}
.drug-detail-top{
    .version-wrapper{
        justify-content: space-between;
        .formulary-type-dropdown{
            width: 355px !important;
        }
        .select-box + div{
            width: 100%;
            display: flex;
            padding: 0 35px 0 10px;
            justify-content: space-between;
            
        }
    }
}
.ant-select-dropdown.version-dd{
    border: 1px solid #F65A1C !important;
    background: #FFF5F0 !important;
    .ant-select-item{
        background: none;
        .ant-select-item-option-content{
            background: none;
            color: #F65A1C;
        }
    
    }
}
.version-wrapper-green {
    border: 1px solid #80C483;
    height: 37px;
    max-width: 890px;
    width: 100%;
    background: #D5FFD7;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    
    .version-dd {
        width: 295px;
        border-right: 1px solid #80C483;
        height: 35px;
        margin-right: 10px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        padding-right: 6px;
    }
    
    .item-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        color: #219653;
    }
    
    .item {
        display: flex;
        line-height: 35px;
        font-size: 12px;
        color: #219653;
        text-decoration-line: underline;
        font-weight: $font-weight-500;
        align-items: center;
        svg {
            margin-right: 5px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .ant-select-selector{
        background: #D5FFD7 !important;
        .ant-select-selection-placeholder{
            color: #219653 !important;
        }
        .ant-select-selection-item{
            color: #219653 !important;
        }
    }
    .formulary-versions .ant-select-selector{
        border-right:1px solid #80C483 !important
    }
    .formulary-type-dropdown{
        width: 205px !important;
    }

    #group-description{
        border: none;
        height: 37px;
        max-width: 890px;
        width: 100%;
        background: #FFF5F0;
        border-radius: 3px;
        color: #219653;
        text-decoration-line: underline;
        font-weight: $font-weight-500;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-size: 12px;
    }
}
.drug-detail-top{
    background: white;
    padding: 22px 20px 30px 30px;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    .breadcrum-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;
        .breadcrum{
            span{
                margin-right: 5px;
                color: #323C47;
                &.color-blue{
                    font-size: 12px;
                    text-decoration: dashed underline;
                    font-weight: $font-weight-500;
                    color: #1D54B4;
                    cursor: pointer;
                }
                &.active-state{
                    font-size: 18px;
                    font-weight: $font-weight-500;
                }
            }
        }
    }
    .durationInfo{
        display: flex;
        .item{
            margin-right: 60px;
            font-size: 14px;
            color: #323C47;
            font-weight: $font-weight-500;
            .label{
                color: $primary-text-color;
                font-weight: normal;
            }
            .tag{
                display: block;
                height: 24px;
                border-radius: 12px;
                padding: 0 10px;
                line-height: 24px;
                color: white;
                font-size: 12px;
                font-weight: bold;
                &.purple{
                    background: #684999;
                }
            }
        }
    }
}
.drug-details-bottom{
    background: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    overflow: hidden;
    .inner-container{
        padding: 12px 10px 10px;
        &.bg-light-grey{
            background: #F9F9F9;
        }
        &.display-flex{
            display: flex;
            justify-content: space-between;
        }
        .bottom{
            .row span{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #707683;
                &.text-left{
                justify-content: flex-start;
                }
            }
        }
        .group-des{
            background: #FFFFFF;
            width: 361px;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 5px;
            .panel{
                display: flex;
                justify-content: space-between;
            }
            .Button{
                background: none;
                color: #C2CFE0;
                border: 1px solid #C2CFE0;
                width: auto;
                padding: 0 20px;
            }
            .search-input{
                input{
                    background: #FFFFFF;
                    border: 1px solid #DDDDDD;
                    box-sizing: border-box;
                    border-radius: 20px;
                    height: 30px;
                    width: 341px;
                    padding-left:10px;
                }
            }
            .inner-container{
                .mini-tabs{
                    margin-top:15px;
                }
            }
            .group-wrapper{
                margin-top:15px;
                .list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 6px;
                    width: 339px;
                    height: 40px;
                    margin-bottom: 5px;
                    &.orange{
                        background: #FFF5F0;
                        border: 1px solid #F65A1C;
                        box-sizing: border-box;
                        border-radius: 3px;
                        color: #F65A1C;
                    }
                    &.orange-fill{
                        background: #F65A1C;
                        border: 1px solid #F65A1C;
                        box-sizing: border-box;
                        border-radius: 3px;
                        color: #ffffff;
                    }
                    &.green{
                        background: #D5FFD7;
                        border: 1px solid #80C483;
                        box-sizing: border-box;
                        border-radius: 3px;
                        color: #219653;
                    }
                    .group{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.01em;
                        .group-title{
                            margin-left: 10px;
                        }
                    }
                }
            }

            .scrollbar {
                overflow-y: scroll;
                max-height: 340px;
                overflow-x: hidden;
                border: 1px solid #E5E5E5;
                box-sizing: border-box;
                border-radius: 5px;
              }
              
              .scrollbar::-webkit-scrollbar {
                width: 6px;
                height: 6px;
              }
              
              .scrollbar::-webkit-scrollbar-thumb {
                border-radius: 5px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                background: rgba(0, 0, 0, 0.2);
              }
              
              /* custom colors  */
              .scrollbar-primary::-webkit-scrollbar {
                background-color: #F5F5F5;
              }
              .scrollbar-primary {
                scrollbar-color: #C4C4C4 #C4C4C4;
              }
              .scrollbar-primary::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                background-color: #F5F5F5;
              }
        }
        .new-group-des{
            width: 889px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            box-sizing: border-box;
            border-radius: 5px;
            margin-left: 10px;
            .inner-container{
                .setting-1{
                    span{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #707683;
                    }
                    .MuiGrid-container{
                        label{
                            display: block;
                            font-size: 12px;
                            color: #707683;
                            line-height: 20px;
                            margin-bottom: 5px;
                            text-transform: uppercase;
                            font-weight: normal;
                        }
                        input{
                            background: #FFFFFF;
                            border: 1px solid #C4C4C4;
                            box-sizing: border-box;
                            border-radius: 3px;
                            width: 695px;
                        }
                    }
                    .marketing-material-chk{
                        label:first-child{
                            display: block;
                        }
                    }
                    .panel-tooltip{
                        margin-left: 10px;
                        line-height: 0;
                        display: inline;
                    }
                }
                .gdp-radio{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .PrivateRadioButtonIcon-root-25{
                        .PrivateRadioButtonIcon-layer-26{
                            color:#2055b5
                        }
                       
                    }
                }
                .button-wrapper{
                    display: flex;
                    justify-content: flex-end;
                    .Button{
                        width: auto;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.01em;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .mb-20{
        margin-top:20px;
    }
    .Button{
        background: #1F55B6;
        color: white;
        margin: 20px 10px 10px 0;
        &:disabled{
            background: #E5E5E5;
            border-color: #E5E5E5;
            color: #707683;
        }
    }
    .bordered{
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        overflow: hidden;
    }
    .white-bg{
        background: white;
    }
    .header{
        display: flex;
        height: 52px;
        border-bottom: 1px solid #E5E5E5;
        font-size: 12px;
        color: #1D54B4;
        font-weight: $font-weight-500;
        padding: 0 20px;
        align-items: center;
        text-transform: uppercase;
        &.panel{
            background: white;
            .panel-tooltip{
                margin-left: 10px;
                line-height: 0;
            }
        }
        &.space-between{
            justify-content: space-between;
        }
        .pr-10{
            padding-right: 10px;
        }
        .Button{
            margin: 0 0 0 10px;
            cursor: pointer;
            &.normal{
                border: 1px solid #C2CFE0;
                background: none;
                color: #5F80B9;
                padding: 0 20px;
                width: auto;
                &:focus{
                    border-color: #C2CFE0;
                    color: #5F80B9;
                    background: white;
                    outline: none;
                }
                &:hover{
                    border-color: #1D54B4;
                    background: #1D54B4;
                    color: white;
                }
            }
        }
    }
    .configure-mini-tabs{
        margin-bottom: 12px;
    }
    .details-top{
        margin-bottom: 10px;
    }
    .modify-wrapper{
        .modify-panel{
            padding: 0 20px;
            display: flex;
            .icon{
                display: flex;
                height: 50px;
                padding-right: 18px;
                border-right: 1px solid #E5E5E5;
                align-items: center;
                span{
                    display: block;
                    border-radius: 50%;
                    height: 31px;
                    width: 31px;
                    background: #1FBBC4;
                    color: white;
                    font-size: 16px;
                    line-height: 31px;
                    text-align: center;
                }
            }
            .switch-box{
                display: flex;
                align-items: center;
                padding: 0 40px;
                border-right: 1px solid #e5e5e5;
                .label{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #707683;
                }
            }
            .mini-tabs{
                display: flex;
                padding: 0 40px;
                border-right: 1px solid #e5e5e5;
                align-items: center;
            }
        }
        .header-with-notes{
            position: relative;
            svg.note-icon{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .settings-form{
            border-top: 1px solid #e5e5e5;
            padding: 20px;
            .radio-group{
                display: flex;
                &.marketing-material{
                    padding: 15px 0 20px;
                }
                label{
                    display: flex;
                    align-items: center;
                    padding-right: 0;
                    margin-right: 60px;
                    span.label{
                        top: 1px;
                        color: #C4C4C4;
                    }
                    input:checked ~ span.label{
                        color: #323C47;
                    }
                }
            }
            .select-box{
                .ant-select{
                    width: 100%;
                    max-width: 370px;
                }
            }
            label{
                display: block;
                font-size: 12px;
                color: #707683;
                line-height: 20px;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-weight: normal;
                .astrict{
                    color: red;
                }
            }
            input{
                width: 385px !important;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                background: white;
                height: 35px !important;
                margin-bottom: 10px;
                top: auto;
            }
        }
    }
}
.panel-grid{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    overflow: hidden;
    .top, .bottom{
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        .item{
            height: 40px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            border-right: 1px solid #E5E5E5;
            width: 25%;
            .ant-checkbox-inner{
                border-radius: 4px;
                border: 2px solid #D5D5D5;

            }
            .ant-checkbox-checked .ant-checkbox-inner{
                border: none;
                background: #1D54B4;
            }
            .ant-checkbox:hover::after, .ant-checkbox-wrapper:hover .ant-checkbox::after{
                visibility: hidden;
            }
            &.left{
                justify-content: flex-start;
            }
            &:last-child{
                border-right: none;
            }
        }
    }
    .top{
        .item{
            font-size: 12px;
            line-height: 14px;
            color: #707683;
            text-transform: uppercase;
        }
    }
    .bottom{
        background: white;
        flex-wrap: wrap;
        border-bottom: none;
        .item{
            font-size: 12px;
            line-height: 14px;
            color: #323C47;
            border-bottom: 1px solid #E5E5E5;
            &.no-data{
                height: 82px;
                width: 100%;
                font-size: 14px;
                font-weight: bold;
                color: #C4C4C4;
                align-items: center !important;
                justify-content: center !important;
            }
        }
        .row{
            width: 100%;
            display: flex;
            &:last-child{
                .item{
                    border-bottom: none;
                }
            }
        }
        

    }
    &.text-center{
        .top,.bottom{
            .item{
                text-align: center;
                justify-content: center;
                &.left{
                    justify-content: flex-start;
                }
            }
        }
    }
    &.first-left{
        .top, .bottom{
            .item:first-child{
                text-align: left;
                justify-content: flex-start;
            }
        }
    }
}
.MuiTooltip-tooltip.custom-tooltip{
    &.panel-tooltip{
        min-width: 357px;
        text-align: left;
        font-weight: normal;
    }
}

.pinned-table{
    .fa-thumbtack{
        font-size: 10px;
        margin-right: 10px !important;
    }
    .frx-grid-header-cell__header-name{
        font-size: 12px;
        font-weight: 400;
    }
    .ant-table-cell-fix-left {
        .fa-thumbtack{
            color: #2055b5 !important;
        }
    }
    .ant-checkbox{
        &:after{
            border: none;
        }
        .ant-checkbox-inner{
            border-radius: 4px;
            border: 2px solid #d5d5d5;
        }
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner::after{
        background-color: #1D54B4;
    }
    .ant-checkbox{
        &:after{
            border: none;
        }
        .ant-checkbox-inner{
            border-radius: 4px;
            background-color: white;
            border: 2px solid #d5d5d5;
            overflow: hidden;
        }
        &.ant-checkbox-checked{
            .ant-checkbox-inner{
                background-color: #1D54B4;
                border: 2px solid #1D54B4;
                &:after{
                    top: -10px !important;
                    left: 8px;
                    transform: rotate(45deg) scale(1);
                }
            }
        }
    }
    .ant-table-header{
        .ant-checkbox{
            
            &.ant-checkbox-checked{
                .ant-checkbox-inner{
                    &:after{
                        top: 1px !important;
                        left: 3px;
                        transform: rotate(45deg) scale(1);
                    }
                }
            }
        }
    }
    .ant-table-tbody > tr.ant-table-row-selected > td{
        background: #EEF3F7;
        border-color: #92B2EB !important;
        
    }
    
    .frx-grid__grid-block{
        padding-top: 0 !important;
    }
    
}

.pa-new-group-form {
    .group-padding {
        padding-right: 20px !important;
    }
    
    .setup-input-fields {
        width: 100% !important;
    }
}

.pa-form-information-panel {
    width: 414px;
    background: #F9F9F9;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    padding-right: 10px;
    height: 280px;
    
    .inner-container {
        .configure-mini-tabs {
            .frx-mini-tabs-root {
                background-color: transparent;
                
                .Mui-selected {
                    span {
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
    &__criteria {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #323C47 !important;
        padding: 10px;
        padding-top: 0px;
    }

    &__indication {
        padding: 10px;
        padding-top: 0px;
    }

    &__indication-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #323C47 !important;
        margin-bottom: 11px;
        display: flex;
        align-items: baseline;
    }
    .prefix-text {
        font-weight: 800 !important;
        color: #323C47 !important;
        margin-right: 10px;
    }
}

.astrict{
    color: red;
}   
