@import "../../../../assets/style.scss";

// .inner-container {
.dynamic-row-addition {
  margin: 5px 0 0 0;
  text-align: end;
  cursor: pointer;
  .__add-new-row {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #707683;
    border-bottom: 1px dashed #707683;
  }
}
// }
