.formulary-versions {

    .ant-select-selector {
        background-color: #FFF5F0 !important;
        height: 100% !important;
        padding-top: 2.25px !important;
        border-right: 1px solid #F65A1C !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: none !important;
    }
}