@import "../../assets/common/colors.scss";

.grid-table {
  .question-set-list {
    background-color: $color_white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    .header_one {
      display: flex;
      margin: 0;
      padding: 10px;
      .header_btns {
        display: flex;
        margin: 15px 0 0 0;
        .export_btn {
          display: block;
          margin: 0 20px 0 auto;
          height: 30px;
          border-radius: 5px;
          background-color: $color_white;
          width: 30%;
          border: 1px solid $color_light_gray;
          color: $color_dark_gray;
          cursor: pointer;
        }
        .create_btn {
          height: 40px;
          border-radius: 25px;
          background-color: $color_blue !important;
          text-transform: capitalize;
          display: block;
          margin: 0 0px 0 auto;
        }
      }
      .search_bar {
        display: flex;
        h2 {
          padding: 15px 30px 15px 0;
          margin: 0;
          text-transform: capitalize;
        }
        input {
          padding: 10px 0px 10px 20px;
          border-radius: 25px;
          border: 1px solid gray;
          // width: 100%;
          outline: none;
        }
        .MuiSvgIcon-root {
          position: relative;
          right: 34px;
          top: 13px;
          background-color: $color_blue;
          color: $color_white;
          padding: 6px 5px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
        }
      }
    }
    .header_two {
      margin: 10px 0px;
      padding: 20px;
      background-color: $color_light_skyblue;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $color_light_gray_two;
      .items_per_page {
        select {
          width: 14%;
          text-align: center;
          padding: 10px;
          border: 1px solid $color_light_gray;
          background-color: $color_white;
          border-radius: 4px;
          color: $color_dark_gray;
        }
        label {
          margin: 0 10px 0 20px;
          color: $color_dark_gray;
          font-size: 15px;
        }
        .per_page {
          // width: 7% !important;
          width: 18% !important;
        }
        .column_add_icon {
          float: right;
          font-size: 30px;
          margin: 5px 0 0 0;
          cursor: pointer;
        }
      }
    }
    .ag-theme-alpine {
      margin: 0 auto;
      .ag-icon {
        color: $color_black;
      }

      .ag-header-row {
        background-color: $color_blue;
        color: $color_white;
        .ag-header-cell {
          border: 1px solid $color_dark_gray;
          text-align: left;
          padding: 0 0 0 10px;
          font-size: 15px;
        }
      }
      .ag-row:nth-of-type(2n + 1) {
        background-color: $color_white;
      }
      .ag-row:nth-of-type(2n + 2) {
        background-color: $color_light_skyblue;
      }
      .ag-row {
        border: none;
        border-color: $color_light_gray;
        .ag-cell {
          border: 1px solid $color_light_gray;
          text-align: left;
          padding: 0 0 0 10px;
          color: $color_dark_gray;
          font-size: 15px;
          font-weight: 400;
          text-transform: capitalize;
          .action_btns {
            display: block;
            margin: 0 0 0 -5px;
            .create_btn {
              height: 25px;
              width: 50px;
              font-size: 12px;
              border-radius: 25px;
              background-color: $color_blue !important;
              text-transform: capitalize;
              padding: 3px;
              margin: 0px 0px 0 2px;
              font-weight: 500;
            }
          }
        }
      }
      .ag-row:not(.ag-row-first) {
        border-top-style: none;
      }
    }
  }
}

.header_two .items_per_page select {
  width: 36%;
}

.loader-overlay-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
