.worflowDialogContainer {
  width: 1000px;
  height: 60px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  .workFlowlabel {
    position: relative;
    float: left;
    width: 60px;
    height: 35px;
    padding-top: 10px;
    margin-left: 8px;   
    color: #707683;
    margin-right: 20px;
  }

  .workFlowControl {
    position: relative;
    float: left;
    margin-right: 35px;
    width: 182px;
    height: 35px;

    .drop-down-icon {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  .workFlowControl-dot {
    .ant-select-selection-item {
      padding-left: 15px !important;
    }
  }

  .workFlowBarControl {
    position: relative;
    float: left;
    margin-right: 35px;
    width: 200px;
    height: 35px;
    padding-top: 7px;
  }

  .workFlowIcon {
    position: relative;
    float: left;
    text-align: right;
    height: 35px;
    width: 7px;
    padding-top: 7px;
  }
  .workFlowIcon:hover {
    cursor: pointer;
  }

  .ant-select {
    width: 100% !important;
  }

  .expandedDetailWrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 600px;
    margin-top: 35px;
    border-top: 1px solid #e5e5e5;
  }

  .expandedLeftSection {
    padding-top: 25px ;
    position: relative;
    float: left;
    width: 211px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .expandedMiddleSection {
    position: relative;
    float: left;
    width: 379px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
  }
  .expandedRightSection {
    position: relative;
    float: left;
    width: 410px;
    height: 100%;
  }

  .expandedRightSectionWrapper {
    width: 339px;
    margin-left: 30px;
    background: greenyellow;
  }

  .workFlowNotes {
    position: relative;
    float: left;
    height: 75px;
    width: 100%;
    padding-top: 30px;    
    text-transform: uppercase;
    color: #707683;
  }
  .workFlowNoteDetail {
    position: relative;
    float: left;
    height: 102px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }
  .workFlowNoteDetailPic{
    position: relative;
    float: left;
    width: 45px;
    height: 100%;
    //background: url(.png);   
    
    span{
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border:1px solid grey;
    }
}
.workFlowNoteDetailText{
    position: relative;
    float: left;
    width: 264px;
    height: 100%;
    background:white;
    color:#323C47;
}
.workFlowNoteDetailText label{ 
  font-weight: 500;  
  line-height: 20px;  
  color: #323C47;
}
.workFlowNoteDetailText span{
  line-height: 20px; 
  color: #C4C4C4;
  margin-left: 15px;
}
.workFlowNoteDetailText div{  
  line-height: 16px;  
  color: #707683;
}
.workFlowNoteDetailText p{ 
    line-height: 16px;
    color: #323C47;
    font-weight: normal;
}
.row{
    padding-top: 7px;
    padding-left: 8px;
    width: 100%;
    height: 35px;    

  .statusIcon{
    position: relative;
    float: left;
    width: 16px;
    height: 100%;
    padding-top: 7px;
  }

  label{
    position: relative;
    float: left;
    width: 110px;
    height: 100%;
    padding-top: 7px; 
    font-weight: 500;
    color: #323C47;
 }
 p{
  position: relative;
  float: left;
  width: 110px;
  height: 100%;
  padding-top: 5px; 
  font-weight: normal;
  line-height: 20px;
  color: #323C47;
}
 .taskPicWrapper{
  position: relative;
  float: left;
  width: 50px;
  height: 100%;      
    span{
      float: left;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      //background: url(.png);
      border:1px solid grey;
    }   
 }

 .eyeIcon{
  position: relative;
  float: left;
  width: 20px;
  height: 100%;
  padding-top: 7px;
 }

}

.row:hover{
  //background: #EEF3F7;
  cursor: pointer;
}

.text{
  color:grey;
  margin-left: 30px;
  position: absolute;
  width: 59px;
  height: 20px;
  left: 30px;
  padding-top: 20px;  
 line-height: 20px;
 text-transform: uppercase;
 color: #707683;
}



}
.common-workflow-dialog-action {
  .frx-dialog-root__heading .MuiTypography-root {
    padding-left: 0px !important;
  }
  h2 span:nth-child(2) {
    display: none;
  }

  // padding-right: 0;
  z-index: 999 !important;

  // height: 100% !important;
  > .MuiDialog-container
    > .MuiDialog-paper
    > .frx-dialog-root__btn-actions
    > .frx-dialog-root__cancel-btn {
    display: none;
  }
  > .MuiDialog-container > .MuiDialog-paper > .frx-dialog-root__btn-actions {
    margin-right: 40px;
  }

  > .MuiDialog-container
    > .MuiDialog-paper
    > .frx-dialog-root__btn-actions
    > .frx-dialog-root__save-btn {
    width: 99px;
    // background: #e5e5e5;
  }

  .frx-dialog-root__heading {
    border-bottom: 0;
    .MuiTypography-root {
      padding-top: 15px;
      padding-left: 12px;
      font-family: "Roboto";
      font-style: normal;
      // font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1px;
      color: #323c47 !important;
      text-transform: uppercase;
    }
  }
  .MuiDialogContent-root {
    padding: 0;
  }
}
