.category-class-button-wrapper {
  display: flex;
  align-items: baseline;

  .add-file-button,
  .select-box {
    margin-right: 10px;
  }
}

.category-class-title .header {
  padding: 0px !important;
}

.category-class-wrapper {
  justify-content: space-between;
  background: #ffffff;

  p {
    font-size: 12px;
    color: #1d54b4;
    font-weight: 500;
    text-transform: uppercase;
  }
}
