@import "../../../../../../assets/style.scss";

.__root-pa-gd-popup {
  .panel,
  .header {
    display: flex;
    justify-content: space-between;
    .button-flex-container {
      .auto-width {
        width: 130px;
        height: 35px;
        background: #ffffff;
        border-radius: 5px;
        color: #2055b5;
        border: 2px solid #2055b5;
      }
    }
  }
}
