@import "./../../../assets/style.scss";
.ant-drawer .ant-drawer-content .ant-drawer-header .ant-drawer-close{
  padding: 25px !important;
}
.ant-drawer-title {
color: black !important;
}
.drawer-wrapper {
  .ant-drawer-content-wrapper {
    max-height: 100vh !important;
    top: 0% !important;
  }

  .ant-drawer-header {
    background: #ffffff !important;
  }
}

.sub-navbar {
  .nav-menu-right {
    display: flex;
    align-items: center;
  }

  .nav-hamburger-icon {
    cursor: pointer;
  }

  .MuiAppBar-root {
    flex-grow: 1;
    justify-content: center;
    align-items: "center";
    background-color: #2055b5;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 48px;
    .MuiGrid-root {
      padding-left: 22px;
    }
    .subNavBar-icon-select-dropdown-container {
      display: inline-block;
      // border-left: 1px solid #043999;
      // border-right: 1px solid #043999;
      height: 100%;
      padding-left: 35px;
      box-sizing: border-box;
    }
    // .subNavBar-icon-select-dropdown-container:last-child {
    //    border-right: 1px solid #043999;
    // }
    // span {
    //   // background-color: red;
    //   display: inline-block;
    //   height: 100%;
    //   padding: 0 0 0 15px;
    //   // border-left: 1px solid green;
    // }
    // span > * {
    //   // padding: 0 1px;
    //   .antd-select {
    //     background-color: transparent !important;
    //     .ant-select-selector {
    //       background-color: transparent;
    //     }
    //   }
    // }
    .subBar-dropdown-container {
      // margin-left: 2px;

      .ant-select-selector {
        background-color: transparent !important;
        border: none;
        height: 100%;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
      }
      .ant-select-arrow {
        top: 48%;
        right: 11px !important;
      }
      .ant-select-selection-placeholder {
        color: #ffffff !important;
      }
    }
    .subBar-dropdown-container .ant-select-selection-item {
      font-weight: 400;
      color: black;
      font-size: 11px;
    }

    .subNavBar-search-icons {
      margin-right: 45px;
      cursor: pointer;
    }
  }
}
.frx-advance-serach {
  // padding-right: 0;
  z-index: 999 !important;

  // height: 100% !important;
  > .MuiDialog-container
    > .MuiDialog-paper
    > .frx-dialog-root__btn-actions
    > .frx-dialog-root__cancel-btn {
    display: none;
  }
  > .MuiDialog-container > .MuiDialog-paper > .frx-dialog-root__btn-actions {
    margin-right: 40px;
  }

  > .MuiDialog-container
    > .MuiDialog-paper
    > .frx-dialog-root__btn-actions
    > .frx-dialog-root__save-btn {
    width: 99px;
    // background: #e5e5e5;
  }

  .frx-dialog-root__heading {
    border-bottom: 0;
    .MuiTypography-root {
      padding-top: 25px;
      padding-left: 12px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #323c47;
      text-transform: capitalize;
    }
  }
  .MuiDialogContent-root {
    padding: 0;
  }
}

.ant-drawer .ant-drawer-content .ant-drawer-header{
  padding: 25px 14px !important; 
}
.ant-drawer-body{
  padding: 25px !important;
}
.font15{
  font-size: 15px;
}
.member-search__input {
  background: $color-white;
  border: 1px solid $input-field-border;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: $font-12;
  font-weight: $font-weight-normal;
  color: black; //$input-text-placeholder;
  margin: 0px !important;
  margin-top: 10px !important;
  text-indent: 10px;
  width: 100%;
  height: 35px;
  line-height: 14px;
  outline: none;
  margin-bottom: 10px;
  & > input::placeholder {
    font-size: 12px;
    font-weight: $font-weight-normal;
    // color: $input-text-placeholder;
    color: black;
    // text-indent: 10px;
  }
  .member-search__icon {
    margin: 10px;
  }
  .MuiInput-input {
    font-size: $font-12;
    font-weight: $font-weight-normal;
    color: $input-text-placeholder;
    border-bottom: 0;
  }
}
.member-search__input--dropdown {
  width: 100%;
  height: 100% !important;
  border: none !important;
  // background-color: red;

  background: $color-white;
  border: 1px solid $input-field-border;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: $font-12;
  font-weight: $font-weight-normal;
  color: $input-text-placeholder;
  //   text-indent: 10px;
  width: 100%;
  height: 35px;
  line-height: 14px;
  outline: none;
  margin-bottom: 8px;
  & > input::placeholder {
    font-size: 12px;
    font-weight: $font-weight-normal;
    // color: $input-text-placeholder;
    color: black;
    // text-indent: 10px;
  }
  .member-search__icon {
    margin: 10px;
  }
  .MuiInput-input {
    font-size: $font-12;
    font-weight: $font-weight-normal;
    color: $input-text-placeholder;
    border-bottom: 0;
  }
  .ant-select-selector {
    // .ant-select-selection-search {
    .ant-select-selection-placeholder {
      color: inherit;
    }
  }
  // }
}
.bottom_nav{
  width: inherit;
  height: 42px;
  margin-left: -25px;
  margin-right: -25px;
  border-bottom: 1px solid #ccc;
}
.clients_div{
  /*background: #E5E5E5;*/
}
.removeMargin{
  margin-left: -25px;
  margin-right: -25px;
  height: 100vh; 
}
.padding15{
  padding: 15px 30px;
}
.clientName{
  color: #666666;
  padding: 10px 0px;
  padding-left: 10px;
  cursor: pointer;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
}
.circle{
  padding: 10px 0px;
}