.compare-formularies-container h6 {
  font-size: 12px;
  font-weight: 400;
  color: #707683;
  padding-left: 10px;
}

// label {
//   color: #707683;
//   font-size: 12px;
//   font-weight: 400;
// }

// .base-input input {
//   background: #eef3f7;
//   border: 1px solid #e5e5e5;
//   border-radius: 3px;
//   width: 338px;
//   height: 35px;
// }

// .base-input span,
// .select-formulary span {
//   color: red;
// }

// .formulary-input-wrapper {
//   display: flex;
// }

// .select-formulary {
//   position: relative;
// }
// .myInput {
//   padding-left: 25px; /* This will move the text from under the image */
// }
// .inputImg {
//   left: 5px;
//   position: absolute;
//   top: 5px;
//   z-index: 5;
// }
