.compare-formularies-container-component {
    .limited-access {
        background: #f9f9f9;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    table {
        width:100%;
    }
    
    table, th, td {
        border: 1px solid #e5e5e5;
        border-collapse: collapse;
        padding:8px !important;
        font-size: 12px;
        color: #323C47;
    }

    .tb-tier {
        background-color: rgba(31, 187, 196, 0.4) !important;
    }

    .tb-category {
        background-color: rgba(10, 123, 225, 0.4) !important;
    }

    .tb-pa {
        background-color: #FFF5F0;
    }
    
    .tb-st {
        background: rgba(244, 175, 100, 0.4) !important;
    }

    .tb-ql {
        background: rgba(213, 255, 215, 0.5);
    }

    .tb-add {
        background: rgba(248, 144, 144, 0.4);
    }

    .tb-dd {
        background: rgba(224, 237, 81, 0.4);
    }

    .tb-otc {
        background: rgba(104, 73, 153, 0.2);
    }

    .tb-ed {
        background: rgba(128, 196, 131, 0.4);
    }

    .tb-vbid {
        background: rgba(112, 118, 131, 0.3);
    }

    table tr th:nth-child(1) {
        width: 30% !important;
    }

    .MuiAccordionSummary-expandIcon.Mui-expanded {
        display: none !important;
    }

    table tr td:nth-child(1) {
        width: 30% !important;
    }

    table tr td:nth-child(2),table tr th:nth-child(2) {
        text-align:center !important;
        color:blue;
    }

    .MuiAccordionDetails-root {
        padding-top: 0px !important;
    }

    .Mui-expanded {
        margin: 0px !important;
        margin-bottom: -10px !important;
    }

    .top-table1 {

    // td {
    //     width: 30% !important;
    // }
}
}