/* Common Main Colors */
$background-color: #eef3f7;
$container-background-color: #f9f9f9;
//$container-background-color: rgb(215, 237, 245);
$container-border-color: #e5e5e5;
$white-color: #ffffff;
$color-white: #ffffff;
$black-color: #000000;
$color-black: #000000;
$hyperlink-text-color: #2055b5;
$primary-text-color: #666666;
$secondary-text-color: #333333;
/* Common Main Colors */

/* Heading - Colors */
$primary-heading-text-color: #2055b5;
/* Heading - Colors */

/* Main-Tab */
$main-tab-text-active-color: #2055b5;
$main-tab-text-inactive-color: #666666;
/* Main-Tab */

/* Folder - Tab */
$folder-tab-inactive-background: #f9f9f9;
$folder-tab-active-background: #ffffff;
/* Folder - Tab */

/* mini - Tab */
$button-tab-active-background-color: #2055b5;
$mini-tab-border-color: #6E90CF;
/* mini - Tab */

/* Tags - Colors */
$pill-active-color: #008a07;
$pill-incomplete-color: #1077b0;
$pill-inactive-color: #666666;
/* Tags - Colors */

/* Section Attribute Colors */
$pills-two-active: #2055b5;
$pills-two-inactive: #999999;
/* Section Attribute Colors */

/* Search - Bar */
$search-input-field-border: #dddddd;
$search-input-button: #2055b5;
$search-text-input-color: #999999;
/* Search - Bar */

/* Stepper - Colors */
$legend-in-progress: #8faada;
$legend-limit-met: #80c483;
$legend-limit-not-met: #694298;
/* Stepper - Colors */

/* Pie - Chart Colors */
$paid-item: #59b35e;
$rejected-item: #f65a1c;
$total-item: #2055b5;
/* Pie - Chart Colors */

/* Form - fields */
$input-field-border: #dddddd;
$input-text-placeholder: #999999;
$primary-btn-color: #2055b5;
/* Form - fields */

/* Grid - table */
$pagination-bg-color: #f9f9f9;
$switch-border-color: #cccccc;
$switch-active-color: #2055b5;
$multisort-text-color: #999999;
/* Grid - table */

/* Member - Costshare */
$membercostshare-header-color: #f5f5f5;
/* Member - Costshare */

/* Status colors */
$dev-status-done-color: rgb(0, 255, 0);
$dev-status-wip-color: orange;
$dev-status-pending-color: red;

/* Dialog colours*/
$dialog-heading: #2055B5;

/* Member notes*/
$member-notes-border-color: #E5E5E5;
$category-active-list-bg-color: #ECF5FA;
$category-active-text-color: #707683;
$category-dropdown-text-color: #999999;

/* List font colors*/
$list-text-color: #323C47;
$list-chip-text-color: #999999;
$list-primary-heading-color: #323C47;
$list-date-color: #707683;

/* Search form colors*/
$label-text-color: #323C47;
$search-field-color: #999999;


/* Formulary */
/* Formulary search */
$button-border-color: #C2CFE0;
$button-text-color: #5F80B9;
$formulary-info-bg: #F9F9F9;
$search-input-color: #aaaaaa;
$detailed-table-heading-text-color: #707683;
/* Formulary search */
/* Formulary */

/* Audit grid colors */
$grid-row-bg-color: #EEF3F7;
$grid-text-color: #323C47;
/* Audit grid colors */

/* Prescriber */
$prescriber-address-text-color: #707683;
/* Prescriber */