.nav-icon-list-wrapper {
  // margin: 15px 60px 0px 0px;

  .nav-icons-list {
    // background: #ffffff;
    height: 38px;
    border-radius: 5px;
    // border: 1px solid #e5e5e5;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .marginRight {
      margin-right: 25px;
      cursor: pointer;
    }
  }
}

.common-dialog-action h2 span:nth-child(2) {
  display: none;
}
